layout python
unset HTTP_PROXY http_proxy
. ~/.rancher-credentials
export LOCUST_STATSD_HOST=172.17.0.10 \
    LOCUST_USERS=10 \
    LOCUST_METRICS_EXPORT="measurements" \
    LOCUST_MEASUREMENT_NAME="measurement" \
    LOCUST_MEASUREMENT_DESCRIPTION="linear increase" \
    LOCUST_INFLUXDB_SERVER="influxdb.local" \
    LOCUST_INFLUXDB_PORT="8086" \
    LOCUST_INFLUXDB_USER="influxdb" \
    LOCUST_INFLUXDB_PASSWORD="rewtrewt" \
    LOCUST_INFLUXDB_DB="metrics"
